---
---
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

// Setup variables.
$base-font-size: 18px;
$medium-screen: 700px;
$large-screen: 1000px;
$base-line-height: 24px;

$base-accent-color: #05776D;
$base-text-color: #475333;
$base-font-color: $base-text-color;
$base-link-color: rgba(159, 65, 21, 1); // #9F4115;
$base-footer-color: #477478;
$base-bg-color: #ECECD1;
$base-body-color: #CBF8EF;
$base-border-color: #202817;
$base-border-radius: 5px;
$dark-green: #475333;
$light-gray: #cccccc;
$blue: #2e4272;

body {
  color: $base-text-color;
  background: $base-bg-color;
  margin: 0;
}

a, a:visited, a:active {
  color: $base-text-color;
  border-bottom: 1px solid $base-link-color;
  text-decoration: none;

  &:hover {
    color: darken( $base-link-color, 10% );
  }

}

input {
  //width: 300px;

  @include placeholder {
    color: fade-out($base-link-color, .6);
  }
}

button {
  @include button;
}

ol {
  list-style: decimal;
  padding-left: 40px;
}
ul {
  list-style: disc;
  padding-left: 40px;
}

.no-bottom {
  border-bottom: none;
}

.success {
  //@include button(simple, #5CB19A);
  @include button(simple, $base-link-color);
}

.default {
  @include button(simple, #5CB19A);
}

.danger {
  @include button(simple, #ff0000);
  margin: 4px;
  padding: 5px 5px 5px 5px;
  font-size: 12px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  min-height: 500px;
  @include outer-container;
}

.form-wrapper {
  //@include span-columns(6);
}

.post-inner {
  @include columns(2);
}

.post-wrapper {
  @include outer-container;
  //@include span-columns(6);
}

.post-part {
  @include span-columns(3 of 6);
}

.posts {
  display: block;
  color: #818181;
  list-style: none !important;
  @include span-columns(8);

  li {
    margin: 20px 0px;
  }

  .post-date {
    display: block;
    font-size: $base-font-size - 6;
  }
}

.post-wrapper {
  @include outer-container;
}

article.post-content {
  //@include columns(2);
  img {
    width: 50%;
    box-shadow: 0 8px 6px -3px black;
  }
}


footer {
  font-size: $base-font-size - 4;
}

header.navigation {
  $navigation-padding: 1em;
  $navigation-background: $dark-green;
  $navigation-color: transparentize(white, 0.3);
  $navigation-color-hover: white;
  $navigation-height: 60px;
  $navigation-nav-button-background: $base-accent-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);
  $navigation-active-link-color: transparentize(white, 0.5);
  $navigation-submenu-padding: 1em;
  $horizontal-bar-mode: $large-screen;

  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  font-family: $sans-serif;
  height: $navigation-height;
  width: 100%;
  z-index: 999;

  .navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    padding-left: $navigation-padding;
    padding-right: 2em;
    border-bottom: none;

    img {
      max-height: $navigation-height;
      padding: .8em 0;
      width: 40px;
    }
  }

  .navigation-menu-button {
    color: $navigation-color;
    cursor: pointer;
    display: block;
    float: right;
    font-family: $sans-serif;
    font-weight: 700;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:hover {
      color: $navigation-color-hover;
    }
  }

  .nav {
    z-index: 9999999;
    float: none;
    @include media ($horizontal-bar-mode) {
      float: left;
    }
  }

  ul#navigation-menu {
    clear: both;
    -webkit-transform-style: preserve-3d;
// stop webkit flicker
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  ul li {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: .8em;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }

    a {
      font-weight: 400;
      display: inline-block;
      color: $navigation-color;
      border: none;

      @include media ($horizontal-bar-mode) {
        padding-right: 1em;
      }

      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .active-nav-item a {
    padding-bottom: 3px;
    border-bottom: 1px solid $navigation-active-link-color;
  }

  li.more {
    padding-right: 0;

    &:hover .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      position: relative;
      padding-right: .8em;
    }
  }

  li.more a {
    padding-right: .8em;
  }

  .submenu {
    display: none;

    @include media($horizontal-bar-mode) {
      position: absolute;
      top: 1em;
      left: -$navigation-submenu-padding;
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $navigation-height /1.3;

        &:first-child a {
          padding-top: 1em;
        }
        &:last-child a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: .7em;
        }
      }

      a {
        text-align: right;
        background-color: darken($navigation-background, 3);
        width: 100%;
        display: inline-block;

        @include media($horizontal-bar-mode) {
          width: 12em;
          background-color: $navigation-background;
          text-align: left;
          padding-left: $navigation-submenu-padding;
        }
      }
    }
  }

  .navigation-tools {
    @include clearfix;
    display: block;
    padding-right: $navigation-padding;
    padding-left: $navigation-padding/2;
    clear: both;
    background: #505050;

    @include media($large-screen) {
      background: transparent;
      float: right;
      clear: none;
    }
  }

  a.sign-up {
    margin-top: 13px;
    float: right;
    @include transition (all 0.2s ease-in-out);
    display: inline;
    background: $navigation-nav-button-background;
    border-radius: $base-border-radius;
    color: white;
    font-size: .8em;
    font-weight: 800;
    text-transform: uppercase;
    padding: .4em .5em;

    @include media($large-screen) {
      padding: .4em 1em;
    }

    &:hover {
      background: lighten($navigation-nav-button-background, 10);
    }
  }

  .search-bar {
    $search-bar-border-color: $base-border-color;
    $search-bar-border: 1px solid $search-bar-border-color;
    $search-bar-background: lighten($search-bar-border-color, 10);

    padding: 13px 5px;
    float: left;
    .search-and-submit {
      position: relative;

      input[type=search] {
        background: $navigation-search-background;
        border: $navigation-search-border;
        padding: .6em .8em;
        font-size: .9em;
        font-style: italic;
        color: $navigation-color;
        border-radius: $base-border-radius * 2;
        margin: 0;
      }

      button[type=submit] {
        @include button(simple, lighten($navigation-search-background, 10));
        position: absolute;
        top: 0.3em;
        right: 0.3em;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 15px;

        img {
          height: 12px;
          opacity: .7;
        }
      }
    }

    @include media($horizontal-bar-mode) {
      width: 16em;
      position: relative;
      display: inline-block;

      input {
        @include box-sizing(border-box);
        display: block;
      }
    }
  }
}

table {
  $table-border-color: $base-border-color;
  $table-border: 1px solid $table-border-color;
  $table-background: white;
  $table-header-color: $base-link-color;
  $table-hover-color: darken($table-background, 5);
  $table-stripe-color: darken($table-background, 4);
  $table-stripe-color-hover: darken($table-stripe-color, 5);
  $table-padding: 0.5em;

  border: $table-border;
  border-left: 0px;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: $base-border-radius;

  tbody {
    background-color: $table-background;
    tr:hover > td, tr:hover > th {
      background-color: $table-hover-color;
    }
    tr:nth-child(even) {
      background-color: $table-stripe-color;
      &:hover > td {
        background-color: $table-stripe-color-hover;
      }
    }
  }

  thead:first-of-type {
    tr:first-child > th:first-child {
      border-top-left-radius: $base-border-radius;
    }

    tr:first-child > th:last-child {
      border-top-right-radius: $base-border-radius;
    }
  }

  tbody:last-child {
    tr:last-child > td:first-child {
      border-bottom-left-radius: $base-border-radius;
    }

    tr:last-child > td:last-child {
      border-bottom-right-radius: $base-border-radius;
    }
  }

  thead {
    th {
      background-color: $table-header-color;
      color: white;
      padding: $table-padding;
      border-left: 1px solid $table-border-color;
      border-bottom: 0px;
    }
  }

  tbody {
    background-color: $table-background;

    td {
      padding: $table-padding;
      border-left: 1px solid $table-border-color;
      border-top: 1px solid $table-border-color;
      border-bottom: 0px;

      button {
        @include button(simple, $table-background);
        margin-right: 0.5em;
        display: inline-block;
        width: 100%;
        margin-bottom: .3em;
        outline: none;

        @include media($medium-screen) {
          width: auto;
          margin-bottom: 0;
        }
      }
    }
  }
}

.hero {
  $hero-background-top: darken($base-accent-color, 25);
  $hero-background-bottom: adjust-hue($hero-background-top, -70);
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: '/assets/images/hero_bg.jpg';

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);

  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 4em;

  .hero-logo img {
    height: 4em;
    margin-bottom: 1.5em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    padding: 3em;
    margin: auto;
    text-align: center;
    color: $hero-color;

    button {
      @include button(simple, $base-link-color);
      font-size: $base-font-size;
      outline: none;
    }

    .hero-copy {
      text-align: center;

      h1 {
        font-size: 1.6em;
        margin-bottom: .5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        font-family: $serif;
        margin: auto;
        margin-bottom: 3em;
        font-weight: 200;
        line-height: 1.4em;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}

.bullets {
  $icon-bullet-size: 3.5em;

  overflow: auto;
  margin-bottom: $base-line-height;


// change ".three-col-bullet" class to this for two bullet layout
  .two-col-bullet {
    @include media($large-screen) {
      @include span-columns(6);
      @include omega(2n);
    }
  }

  .three-col-bullet {
    @include media($large-screen) {
      @include span-columns(4);
      @include omega(3n);
    }
  }


// change ".three-col-bullet" class to this for four bullet layout
  .four-col-bullet {
    @include media($large-screen) {
      @include span-columns(3);
      @include omega(4n);
    }
  }

  .bullet-icon {
    float: left;
    background: $base-link-color;
    padding: $icon-bullet-size /4;
    border-radius: 50%;
    width: $icon-bullet-size;
    height: $icon-bullet-size;
  }

  .bullet-icon-1 {
    background: $base-accent-color;
  }

  .bullet-icon-2 {
    background: adjust-hue($base-accent-color, -50);
  }

  .bullet-icon-3 {
    background: adjust-hue($base-accent-color, -140);
  }

  .bullet-content {
    margin-left: $icon-bullet-size *1.4;
    margin-bottom: 2em;
  }

  h2 {
    font-size: $icon-bullet-size /2.5;
    padding-top: $icon-bullet-size /7;
    margin-bottom: $icon-bullet-size /6;
    border-bottom: 1px solid transparentize($base-font-color, .8);
    display: inline-block;
  }
}

//$side-image-background-top: #B5EBEB;
$side-image-background-bottom: $base-link-color;
//$side-image-background-bottom: #5DAC5D;
$side-image-background-top: rgba(159, 65, 21, .2);
$side-image-border: 1px solid darken(transparentize($side-image-background-bottom, .8), 30);

.side-image {
  background: #F9F9F9;

  @include media($large-screen) {
    @include row(table);
  }

  .images-wrapper {
    @include background(linear-gradient($side-image-background-top, $side-image-background-bottom), url('/assets/images/dvd_stack.jpg'), no-repeat $side-image-background-top scroll);
    background-color: $side-image-background-top;
    border-bottom: $side-image-border;
    background-size: cover;
    display: block;
    min-height: 12em;
    padding: 3em;

    @include media($large-screen) {
      @include span-columns(4);
      background-position: bottom;
      background-size: cover;
      border-right: $side-image-border;
    }
  }

  .content {
    @include span-columns(12);
    padding: 1em 1em 4em 1em;

    @include media($large-screen) {
      @include span-columns(8);
      padding: 4em 4em 8em 4em;
    }
  }

  .content h1 {
    margin-bottom: .9em;
  }

  .content h4 {
    background: $side-image-background-bottom;
    color: white;
    display: inline-block;
    font-size: .75em;
    font-weight: 800;
    margin-bottom: 1.3em;
    padding: 3px 8px;
    text-transform: uppercase;
  }

  .content p {
    color: gray;
    margin-bottom: 3em;
  }

  //.content button {
  //  @include button(simple, white);
  //  font-size: $base-font-size;
  //  outline: none;
  //}
  @include reset-display();
}

.footer {
  //$footer-background: desaturate(darken($dark-green, 20), 30);
  $footer-background: $dark-green;
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, .6);
  $footer-disclaimer-color: transparentize($footer-color, .6);

  background: $footer-background;
  padding: $base-line-height*2 $gutter;
  width: 100%;

  .footer-logo {
    text-align: center;
    margin-bottom: 1.5em;

    img {
      height: 5em;
    }
  }

  .footer-links {
    @include clearfix;
    margin-bottom: $base-line-height;

    @include media($medium-screen) {
      @include shift(3);
    }
  }

  ul {
    margin-bottom: $base-line-height*2;

    @include media($medium-screen) {
      @include span-columns(3);
      @include omega(3n);
      @include clearfix;
    }
  }

  li {
    text-align: center;

    @include media($medium-screen) {
      text-align: left;
    }
  }

  li a {
    color: $footer-link-color;

    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: .4em;
  }

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, .3);
    margin: 0 auto $base-line-height;
    width: 12em;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: .9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}

.modal {
  $modal-padding: 3em;
  $modal-background: $base-bg-color;
  $modal-close-color: $light-gray;
  $modal-image-height: 135px;
  $modal-image-width: $modal-image-height;

  label {
    cursor: pointer;
    margin-bottom: 0;
  }

  label img {
    $img-width: 300px;
    border-radius: $img-width/2;
    display: block;
    max-width: $img-width;
  }

  input[type="checkbox"] {
    display: none;
  }

  .btn {
    @include button(simple, $base-body-color);
    font-size: $base-font-size;
    margin-bottom: $base-line-height;
  }

  .modal-open {
    overflow: hidden;
  }

  .modal-window { // overlay
    @include transition(opacity .25s ease);
    @include position(fixed, 0px 0px 0px 0px);
    background: rgba(0,0,0, .85);
    opacity: 0;
    text-align: left;
    visibility: hidden;
    z-index: 99999999999;

    .modal-bg {
      @include position(absolute, 0px 0px 0px 0px);
      cursor: pointer;
    }
  }

  .modal-close {
    @include position(absolute, ($modal-padding /2) ($modal-padding /2) 0 0);
    @include size(1.5em);
    cursor: pointer;
    background: $modal-background;

    &:after,
    &:before {
      @include position(absolute, 3px 3px 0 50%);
      @include transform(rotate(45deg));
      @include size(.15em 1.5em);
      background: $modal-close-color;
      content: '';
      display: block;
      margin: -3px 0 0 -1px;
    }

    &:hover:after,
    &:hover:before {
      background: darken($modal-close-color, 10);
    }

    &:before {
      @include transform(rotate(-45deg));
    }
  }

  .modal-inner {
    @include transition(opacity .25s ease);
    border-radius: $base-border-radius;
    background: $modal-background;
    margin: auto;
    max-height: 95%;
    position: relative;
    overflow: auto;
    width: 95%;
    padding: $modal-padding /2;
    margin-top: .6em;

    @include media($medium-screen) {
      padding: $modal-padding;
      width: 60%;
      max-height: 60%;
      margin-top: 10em;
    }

    @include media($large-screen) {
      width: 50%;
      margin-top: 10em;
    }

    h1 {
      color: $base-font-color;
      margin-bottom: .6em;
      text-align: left;
      text-transform: capitalize;
    }

    p {
      font-size: $base-font-size;
      max-width: 100% !important;
      padding: 0;
      text-align: left;

      &.intro {
        color: $blue;
        line-height: 1.6em;
      }

      &.body {
        color: $base-font-color;
        line-height: 1.45em;

        @include media($medium-screen) {
          @include columns(2 8em);
        }
      }
    }

    a.cta {
      color: white;
      display: inline-block;
      margin-right: .5em;
      margin-top: 1em;

      &:last-child {
        padding: 0 2em;
      }
    }
  }

  .modal-state:checked + .modal-window {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-window .modal-inner {
    top: 0;
  }
}

// Based on code by Kasper Mikiewicz


.image-gradient-dynamic {
  $image-gradient-color-top: red;
  $transparency-top: .9;
  $image-gradient-color-bottom: green;
  $transparency-bottom: .6;
  $vertical-angle: 0deg;

  $image-gradient-color-left: teal;
  $transparency-left: .8;
  $image-gradient-color-right: yellow;
  $transparency-right: .8;
  $horizontal-angle: 90deg;

  position: relative;
  line-height: 0;
  width: 100%;
  margin-bottom: $base-line-height;

  img {
   width: 100%;
   height: auto;
   position: relative;
   top: 0;
   left: 0;
  }

  .copy {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    z-index: 999;
    text-align: center;
    @include transform(translate(-50%, -50%));

    p {
      line-height: 1.5em;
      padding: 1em 2em;
      position: relative;
      color: white;
      font-weight: 800;
    }
  }

  .overlay {
    @include linear-gradient($vertical-angle, transparentize($image-gradient-color-top, $transparency-top),
      transparentize($image-gradient-color-bottom, $transparency-bottom));
    display: block;
    @include position(absolute, 0px 0px 0px 0px);

    &:after {
      content: '';
      @include linear-gradient($horizontal-angle, transparentize($image-gradient-color-left, $transparency-left),
        transparentize($image-gradient-color-right, $transparency-right));
      display: block;
      @include position(absolute, 0px 0px 0px 0px);
    }
  }
}
