@import 'settings';
@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-button;
@include foundation-dropdown;
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-forms;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-pagination;
@include foundation-thumbnail;
@include foundation-top-bar;
@include foundation-typography;
@include foundation-visibility-classes;

body {
  margin: 0;
}

.preview {
  img {
    max-width: 400px;
  }
}

.delete {
  font-size: 10px;
  float: right;
  padding-top: 20px;
  color: map-get($foundation-palette, alert);
}

.dvd-attr {
  li {
    padding: 10px 5px;
  }

  li:nth-child(odd) {
    background-color: $light-gray;
  }
}

.abstract-url {
  margin-top: 30px;
  text-align: justify;
}

.dvd-list-dvd {
  margin-bottom: 60px;
}

.dvds-list-image {
  max-width: 160px;
}

.mejs__overlay-button {
    background-image: url("//../images/mejs-controls.svg");
}
.mejs__overlay-loading-bg-img {
    background-image: url("//../images/mejs-controls.svg");
}
.mejs__button > button {
    background-image: url("//../images/mejs-controls.svg");
}

.bookmarks li {
  margin-bottom: 10px;
  // cursor: pointer;
}
