
block nav
  .top-bar
    .top-bar-title
      strong= 'DVD Pila!'
    .top-bar-left

    .top-bar-right
      ul.menu
        li
          input(type="search" placeholder="Search")
        li
          button(type="button" class="button") Search
