
block nav
  .top-bar
    .top-bar-title
      a(href="/")
        strong= 'DVD Pila!'
    .top-bar-left

    .top-bar-right
      ul.menu
        li
          a(class='button primary small', href="/dvds/add") Add DVD
        li
          form(method="post", action="/search")
            input(type="search" name="term" placeholder="Search")
        li
          button(type="button" class="button") Search
