# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
.idea
.swp
.swo
.DS_Store
npm-debug.log
learning
.sass-cache/*
.sass-cache
node_modules/

public/images/posters

public/javascripts/jquery.min.js
public/javascripts/foundation.min.js
public/javascripts/moment.min.js
