extends layout.pug
  
block content
  div(class="row")
    div(class="columns large-4")
      h1 #{dvd.title}
      p #{dvd.abstractTxt}
    div(class="columns large-6")
      div
        h1= 'Left Hand COlumn...'
