extends layout.pug
  
block content
  br
  .row
    .large-4.columns
      include includes/dvd_form.pug
    .large-6.columns
      h3(class="wikititle hide")= 'Wikipedia Results'
      br
      .flash.hide
      ul(id="wikipedia_data")
