extends layout.pug
  
block content
  if dvd.title !== undefined
    h3= 'Edit DVD'
  else
    h3= 'New DVD'
  br
  .row
    .large-8.columns
      include includes/dvd_form.pug
    .large-2.columns
      ul(id="wikipedia_data")
