extends layout.pug
  
block content
  br/
  h1 #{tag.toUpperCase()}
  p #{dvds.length} DVDs with this tag.
  br/
  br/
  .row.text-center
    each dvd in dvds
      .columns.large-2.dvd-list-dvd
        a(href='/dvds/' + dvd._id)
          img(class="thumbnail dvds-list-image", src=dvd.imageUrl)
        br/
        a(href="/dvds/" + dvd._id) #{dvd.title}
