extends layout.pug
  
block content
  div(class="row dvd-list")
    each dvd in dvds
      div(class="columns large-2 dvd-list-dvd")
        a(href='/dvds/' + dvd._id)
          img(class="thumbnail dvds-list-image", src=dvd.imageUrl)
        br/
        a(href="/dvds/" + dvd._id) #{dvd.title}
