doctype html
html
  head
    title= "DVD Pila!"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include includes/nav.pug
            
    br
    div(class="row container")
      div(class="columns large-12")
        block content
          
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/foundation.min.js')
    script(src='/javascripts/app.js')
