doctype html
html
  head
    title= "DVD Pila!"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/mediaelementplayer.min.css')
    link(rel='stylesheet', href='/stylesheets/speed.min.css')
    link(rel='stylesheet', href='/stylesheets/context-menu.min.css')
  body
    include includes/nav.pug
            
    br
    div(class="row container")
      div(class="columns large-12")
        block content
          
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/foundation.min.js')
    script(src="/javascripts/mediaelement-and-player.min.js")
    script(src="/javascripts/plugins/speed.min.js")
    script(src="/javascripts/plugins/context-menu.min.js")
    script(src='/javascripts/plugins/markers.min.js')
    script(src='/javascripts/playpause-send.js')
    script(src='/javascripts/app.js')
