<footer class="footer">

<div class="footer-logo">
  <img src="{{ site.baseurl }}assets/images/dvd_pila_logo_white.svg" alt="{{ site.title }}">
</div>
<div class="footer-links">
  <ul>
    <li><h3>Content</h3></li>
    <li><a href="https://github.com/asommer70/dvdpila">Fork</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/about">About</a></li>
  </ul>
  <ul>
    <li><h3>Follow Us</h3></li>
    <li>
      <a href="{{ "/feed.xml" }}" class="no-bottom">
        <img src="{{ site.baseurl }}assets/images/rss_white.svg" width="28" height="29"/> 
      </a>
    </li>
    <li>
      <a href="{{ "/" }}" class="no-bottom">
        <img src="{{ site.baseurl }}assets/images/envelope-closed_white.svg" width="28" height="29"/> 
      </a>
    </li>
  </ul>
  <ul>
    <li><h3>Legal</h3></li>
    <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
    <li><a href="/attribution">Attribution</a></li>
  </ul>
</div>

<hr>

<p>un-&copy; <script>document.write(new Date().getFullYear())</script> Adam Sommer. All rights shared.</p>

</footer>
