button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477dca;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #475333;
  background: #ececd1; }

a, a:visited, a:active {
  color: #475333;
  border-bottom: 1px solid #9f4115;
  text-decoration: none; }
  a:hover, a:visited:hover, a:active:hover {
    color: #722f0f; }

input::-webkit-input-placeholder {
  color: rgba(159, 65, 21, 0.4); }
input::-moz-placeholder {
  color: rgba(159, 65, 21, 0.4); }
input:-moz-placeholder {
  color: rgba(159, 65, 21, 0.4); }
input:-ms-input-placeholder {
  color: rgba(159, 65, 21, 0.4); }

.search input::-webkit-input-placeholder {
  color: white !important; }
.search input::-moz-placeholder {
  color: white !important; }
.search input:-moz-placeholder {
  color: white !important; }
.search input:-ms-input-placeholder {
  color: white !important; }

button {
  border: 1px solid #076fe4;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #8ebcf1;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #4294f0;
  background-image: -webkit-linear-gradient(#4294f0, #0776f3);
  background-image: linear-gradient(#4294f0, #0776f3);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #0065d6;
  background-clip: padding-box; }
  button:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #60a2ec;
    cursor: pointer;
    background-color: #2f87ea;
    background-image: -webkit-linear-gradient(#2f87ea, #086fe3);
    background-image: linear-gradient(#2f87ea, #086fe3); }
  button:active:not(:disabled), button:focus:not(:disabled) {
    border: 1px solid #076fe4;
    box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3; }
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

video {
  border: 5px solid #475333;
  box-shadow: 0 8px 6px -3px #475333; }
  @media screen and (max-width: 700px) {
    video {
      width: 100%;
      margin-top: 20px; } }

:-webkit-full-screen {
  border: none; }

:-moz-full-screen {
  border: none; }

.success {
  border: 1px solid #652508;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #d76129;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #9f4115;
  background-image: -webkit-linear-gradient(#9f4115, #732b09);
  background-image: linear-gradient(#9f4115, #732b09);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #551d04;
  background-clip: padding-box; }
  .success:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #ae4d1f;
    cursor: pointer;
    background-color: #853915;
    background-image: -webkit-linear-gradient(#853915, #642608);
    background-image: linear-gradient(#853915, #642608); }
  .success:active:not(:disabled), .success:focus:not(:disabled) {
    border: 1px solid #652508;
    box-shadow: inset 0 0 8px 4px #562108, inset 0 0 8px 4px #562108; }
  .success:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

.default {
  border: 1px solid #378f77;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #96c3b7;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #5cb19a;
  background-image: -webkit-linear-gradient(#5cb19a, #3b9a80);
  background-image: linear-gradient(#5cb19a, #3b9a80);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #5fc3a8;
  background-clip: padding-box; }
  .default:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #75b2a1;
    cursor: pointer;
    background-color: #54a08b;
    background-image: -webkit-linear-gradient(#54a08b, #388e76);
    background-image: linear-gradient(#54a08b, #388e76); }
  .default:active:not(:disabled), .default:focus:not(:disabled) {
    border: 1px solid #378f77;
    box-shadow: inset 0 0 8px 4px #35826d, inset 0 0 8px 4px #35826d; }
  .default:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

.danger {
  border: 1px solid #b80000;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #f85454;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: red;
  background-image: -webkit-linear-gradient(red, #c70000);
  background-image: linear-gradient(red, #c70000);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #a30000;
  background-clip: padding-box;
  margin: 4px;
  padding: 5px 5px 5px 5px;
  font-size: 12px; }
  .danger:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #f72222;
    cursor: pointer;
    background-color: #e10505;
    background-image: -webkit-linear-gradient(#e10505, #b80000);
    background-image: linear-gradient(#e10505, #b80000); }
  .danger:active:not(:disabled), .danger:focus:not(:disabled) {
    border: 1px solid #b80000;
    box-shadow: inset 0 0 8px 4px #a80000, inset 0 0 8px 4px #a80000; }
  .danger:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

.container {
  max-width: 900px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  min-height: 500px;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 420px) {
    .container {
      padding-top: 50px; } }

.shiny {
  border: 1px solid #3f85aa;
  border-bottom: 1px solid #367581;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 0 #d9ffff;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #b4f4fb;
  background-image: -webkit-linear-gradient(top, #b4f4fb 0%, #7cc2da 50%, #5ea9cb 50%, #65aecd 100%);
  background-image: linear-gradient(to bottom,#b4f4fb 0%, #7cc2da 50%, #5ea9cb 50%, #65aecd 100%);
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #c4f9ff; }
  .shiny:hover:not(:disabled) {
    cursor: pointer;
    background-color: #a7e5e9;
    background-image: -webkit-linear-gradient(top, #a7e5e9 0%, #72b6c8 50%, #579fb9 50%, #5ea4bc 100%);
    background-image: linear-gradient(to bottom,#a7e5e9 0%, #72b6c8 50%, #579fb9 50%, #5ea4bc 100%); }
  .shiny:active:not(:disabled), .shiny:focus:not(:disabled) {
    box-shadow: inset 0 0 20px 0 #458081; }
  .shiny:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

.dvd-form {
  padding: 10px;
  border: 1px solid #202817;
  border-radius: 3px; }
  @media screen and (max-width: 700px) {
    .dvd-form {
      width: 100%;
      margin-bottom: 20px; } }

.dvd-attr li:nth-child(even) {
  background: #eeeeee; }

.col-four {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .col-four:last-child {
    margin-right: 0; }
  @media screen and (max-width: 700px) {
    .col-four {
      width: 75%; } }
  @media screen and (max-width: 420px) {
    .col-four {
      margin-top: 30px;
      width: 100%; } }

.search {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  display: inline-block; }
  .search:last-child {
    margin-right: 0; }

.dvd-info {
  font-size: 14px; }

.dvd-image {
  padding-bottom: 10px;
  border-bottom: none; }
  .dvd-image img {
    box-shadow: 0 8px 6px -3px #475333; }

.dvd-list {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .dvd-list:after {
    content: "";
    display: table;
    clear: both; }

.dvd-block {
  margin: 20px;
  width: 170px;
  height: 300px;
  display: block;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .dvd-block:last-child {
    margin-right: 0; }
  @media screen and (min-width: 420px) and (max-width: 1000px) {
    .dvd-block {
      width: 200px; } }
  @media screen and (max-width: 420px) {
    .dvd-block {
      width: 90%; } }

.active-page a {
  font-size: 22px; }

.rating-panel {
  width: 100px;
  height: 16px; }

.star-rating.star {
  width: 16px;
  height: 16px;
  background: url(images/star.svg) no-repeat center;
  background-size: contain;
  display: inline-block; }

.star-empty {
  width: 16px;
  height: 16px;
  color: #cccccc; }

.fancybox-close {
  border-bottom: none; }

.ddg {
  border-bottom: none; }
  .ddg img {
    vertical-align: bottom;
    padding-top: 30px; }

.active {
  font-weight: bold; }

@media screen and (max-width: 420px) {
  .edit {
    margin-top: 20px; } }

#add-new-dvd {
  margin-left: 15px; }

.hero-logo img {
  height: 3.5em;
  margin-bottom: 1.5em; }
  @media screen and (min-width: 700px) {
    .hero-logo img {
      margin-bottom: none; } }

header.navigation {
  background-color: #475333;
  border-bottom: 1px solid #2c3320;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  height: 60px;
  width: 100%;
  z-index: 999; }
  header.navigation .menu-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999; }
    header.navigation .menu-wrapper:after {
      content: "";
      display: table;
      clear: both; }
    header.navigation .menu-wrapper:after {
      content: "";
      display: table;
      clear: both; }
  header.navigation .logo {
    float: left;
    max-height: 60px;
    padding-left: 1em;
    padding-right: 2em; }
    header.navigation .logo img {
      max-height: 60px;
      padding: .8em 0; }
  header.navigation .navigation-menu-button {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    display: block;
    float: left;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 700;
    margin: 0;
    padding-left: 1em;
    text-transform: uppercase; }
    @media screen and (min-width: 420px) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button:hover {
      color: white; }
    header.navigation .navigation-menu-button img {
      height: 3.4em;
      margin-bottom: none;
      padding-right: 20px;
      text-align: middle; }
    header.navigation .navigation-menu-button a {
      border-bottom: none; }
  header.navigation .nav {
    z-index: 9999999;
    float: none; }
    @media screen and (min-width: 420px) {
      header.navigation .nav {
        float: left;
        padding-left: 1em; } }
  header.navigation ul#navigation-menu {
    clear: both;
    -webkit-transform-style: preserve-3d;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 420px) {
      header.navigation ul#navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  header.navigation ul li {
    background: #475333;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: .8em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 420px) {
      header.navigation ul li {
        background: transparent;
        display: inline;
        line-height: 60px;
        text-decoration: none;
        width: auto; } }
    header.navigation ul li a {
      font-weight: 400;
      display: inline-block;
      color: rgba(255, 255, 255, 0.7);
      border: none; }
      @media screen and (min-width: 420px) {
        header.navigation ul li a {
          padding-right: 1em; } }
      header.navigation ul li a:hover {
        color: white; }
  header.navigation .active-nav-item a {
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  header.navigation li.more {
    padding-right: 0; }
    header.navigation li.more:hover .submenu {
      display: block; }
    @media screen and (min-width: 420px) {
      header.navigation li.more {
        position: relative;
        padding-right: .8em; } }
  header.navigation li.more a {
    padding-right: .8em; }
  header.navigation .submenu {
    display: none; }
    @media screen and (min-width: 420px) {
      header.navigation .submenu {
        position: absolute;
        top: 1em;
        left: -1em; } }
    header.navigation .submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 420px) {
        header.navigation .submenu li {
          line-height: 46.15385px; }
          header.navigation .submenu li:first-child a {
            padding-top: 1em; }
          header.navigation .submenu li:last-child a {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            padding-bottom: .7em; } }
      header.navigation .submenu li a {
        text-align: right;
        background-color: #3f4a2d;
        width: 100%;
        display: inline-block; }
        @media screen and (min-width: 420px) {
          header.navigation .submenu li a {
            width: 12em;
            background-color: #475333;
            text-align: left;
            padding-left: 1em; } }
  header.navigation .navigation-tools {
    display: block;
    padding-right: 1em;
    padding-left: 0.5em;
    clear: both;
    background: #475333; }
    header.navigation .navigation-tools:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (min-width: 420px) {
      header.navigation .navigation-tools {
        background: transparent;
        float: right;
        clear: none; } }
  header.navigation a.sign-up {
    margin-top: 13px;
    float: right;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline;
    background: #05776d;
    border-radius: 5px;
    color: white;
    font-size: .8em;
    font-weight: 800;
    text-transform: uppercase;
    padding: .4em .5em; }
    @media screen and (min-width: 1000px) {
      header.navigation a.sign-up {
        padding: .4em 1em; } }
    header.navigation a.sign-up:hover {
      background: #07a89a; }
  header.navigation .search-bar {
    padding: 13px 5px;
    float: left; }
    header.navigation .search-bar .search-and-submit {
      position: relative; }
      header.navigation .search-bar .search-and-submit input[type=search] {
        background: #55633d;
        border: 1px solid #394329;
        padding: .6em .8em;
        font-size: .9em;
        font-style: italic;
        color: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
        margin: 0; }
        header.navigation .search-bar .search-and-submit input[type=search]::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 0.7); }
        header.navigation .search-bar .search-and-submit input[type=search]::-moz-placeholder {
          color: rgba(255, 255, 255, 0.7); }
        header.navigation .search-bar .search-and-submit input[type=search]:-moz-placeholder {
          color: rgba(255, 255, 255, 0.7); }
        header.navigation .search-bar .search-and-submit input[type=search]:-ms-input-placeholder {
          color: rgba(255, 255, 255, 0.7); }
      header.navigation .search-bar .search-and-submit button[type=submit] {
        border: 1px solid #4b5c2f;
        border-radius: 3px;
        box-shadow: inset 0 1px 0 0 #94a17e;
        color: white;
        display: inline-block;
        font-size: inherit;
        font-weight: bold;
        background-color: #708250;
        background-image: -webkit-linear-gradient(#708250, #546734);
        background-image: linear-gradient(#708250, #546734);
        padding: 7px 18px;
        text-decoration: none;
        text-shadow: 0 1px 0 #415224;
        background-clip: padding-box;
        position: absolute;
        top: 0.3em;
        right: 0.3em;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 15px; }
        header.navigation .search-bar .search-and-submit button[type=submit]:hover:not(:disabled) {
          box-shadow: inset 0 1px 0 0 #7b8a62;
          cursor: pointer;
          background-color: #616f4a;
          background-image: -webkit-linear-gradient(#616f4a, #4b5c2f);
          background-image: linear-gradient(#616f4a, #4b5c2f); }
        header.navigation .search-bar .search-and-submit button[type=submit]:active:not(:disabled), header.navigation .search-bar .search-and-submit button[type=submit]:focus:not(:disabled) {
          border: 1px solid #4b5c2f;
          box-shadow: inset 0 0 8px 4px #43512b, inset 0 0 8px 4px #43512b; }
        header.navigation .search-bar .search-and-submit button[type=submit]:disabled {
          opacity: 0.5;
          cursor: not-allowed; }
        header.navigation .search-bar .search-and-submit button[type=submit] img {
          height: 12px;
          opacity: .7; }
    @media screen and (min-width: 420px) {
      header.navigation .search-bar {
        width: 16em;
        position: relative;
        display: inline-block; }
        header.navigation .search-bar input {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: block; } }

#flash-view #message {
  color: #fff;
  font-size: 16px;
  line-height: 1.2em;
  padding: 20px;
  margin-bottom: 20px; }

#flash-view.is-notice #message {
  background-color: #5CB19A; }

#flash-view.is-warning #message {
  background-color: #B4F4FB;
  color: #475333; }

#flash-view.is-error #message {
  background-color: #f14247; }

.pagination {
  text-align: center;
  padding-top: 20px;
  margin-top: 20px; }
  .pagination ul {
    display: inline;
    text-align: center; }
    .pagination ul li {
      display: inline; }
    .pagination ul ul li {
      display: none; }
      .pagination ul ul li:nth-child(1), .pagination ul ul li:nth-child(2), .pagination ul ul li:nth-child(3) {
        display: inline; }
      @media screen and (min-width: 1000px) {
        .pagination ul ul li {
          display: inline; } }
    .pagination ul li a {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      background: #475333;
      border-radius: 5px;
      border: 1px solid #202817;
      color: rgba(255, 255, 255, 0.7);
      padding: 6px 0.809em; }
      .pagination ul li a:hover, .pagination ul li a:focus {
        background: #55633d;
        color: white; }
      .pagination ul li a:active {
        background: #475333; }
