/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= require foundation_and_overrides

 */

@import 'foundation-icons';

$base-accent-color: #05776D;
$base-text-color: #475333;
$base-font-color: $base-text-color;
$base-link-color: rgba(159, 65, 21, 1); // #9F4115;
$base-footer-color: #477478;
$base-bg-color: #ECECD1;
$base-body-color: #CBF8EF;
$base-border-color: #202817;
$dark-green: #475333;
$light-gray: #cccccc;
$blue: #2e4272;