$very-dark-green: #475333;
$less-dark-green: #477478;
$light-blue: #CBF8EF;
$black: #202817;
$light-gray: #cccccc;
$blue: #2e4272;

$red: rgba(159, 65, 21, 1); // #9F4115;
$tan: #ECECD1;
$dark-green: #475333;
$green: #05776D;
