
@import 'foundation_and_overrides';
@import 'colors';

.dvd-title {
  margin-top: 10px;
}

.dvd-attr li:nth-child(odd) {
  background: #eeeeee;
}
.dvd-attr li {
  margin: 10px 0;
  padding: 5px;
}

.abstract-src {
  vertical-align: bottom;
  padding-top: 40px;
}

video {
  width: 450px;
  border: 5px solid $dark-green;
}

.episodes  {
  li {
    margin-bottom: 40px;
  }
}

.delete {
  color: $alert-color;
}