
<% if @search %>
  <h3>Results for:</h3> <%= @search %>
<% end %>
<br/>

<ul class="small-block-grid-5">
  <% @dvds.each do |dvd| %>
    <li>
      <% if dvd.image %>
        <%= link_to dvd_path(dvd) do %>
          <%= image_tag dvd.image.url, class: 'th' %>
        <% end %>
      <% end %>

      <div class="dvd-title">
        <%= link_to  dvd.title, dvd_path(dvd) %>
      </div>
    </li>
  <% end %>
</ul>




<br>
